
body {
	margin : 0px;
	padding : 0px;
	color: #fff;
	background-color:#333333;
	font-family: 'Titillium Web', sans-serif;
}

#header {
	display: inline-block;
	width: 80%;
	vertical-align: top;
	height: 100px;
	margin: 1em;
	border: 1px solid #666666 ;
}

#main {
	display: inline-block;
	width: 550px;
	height: auto;
	vertical-align: top;
	text-align: center;
	margin: 1em;
	padding: 10px;
	border: 1px solid #666666 ;
}
#form {
	display: inline-block;
	width: 500px;
	vertical-align: top;
	/*height: 200px;*/
	margin: 1em;
}
#content {
	display: inline-block;
	width: 500px;
	vertical-align: top;
	/*height: 200px;*/
	margin: 1em;
}



.fonds { background-color: #000000; margin: 10px; border: 1px solid #666666}
.fond { background-color: #000000;}

.header_titre {	float: left; margin : 5px;}
.header_user {	float: right; margin : 5px;}
p.header_user {color: #BBBBBB;}
p.header_user a:link, p  a:link {color: #BBBBBB;}
p.header_user a:visited, p  a:visited  {color: #BBBBBB;}
p.header_user a:hover, p  a:hover  {color: #FFFFFF;}

h1	{
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
	color: #CCC;
	text-shadow: 3px 3px 3px #666;
	}

h2	{
	color: #CCC;
	margin: 0;
	}


@media (max-width: 700px) {
	h2.Titre{ font-size: 14px }  /* Maximum font size */
	p, td.form { font-size: 12px;	} 
	}

@media (min-width: 1200px) {
	h2.Titre { font-size: 18px } /* Minimum font size */
	p, td.form { font-size: 14px; }
	}
