
body {
	margin : 0px;
	padding : 0px;
	color: #000000;
	background-color:#FFFFFF;
/*background-image:  url('images/fond.jpg'); 
background-position: 0 0; 
background-attachment:fixed;
background-repeat:repeat; */
font-family: 'Titillium Web', sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
}

#header {
	display: inline-block;
	width: 80%;
	vertical-align: top;
	height: 100px;
	margin: 1em;
	border: 1px solid #cccccc ;
}

#main {
	display: inline-block;
	width: 600px;
	height: 400px;
	vertical-align: top;
	margin: 1em;
	border: 1px solid #cccccc ;
}
#form {
	display: inline-block;
	width: 500px;
	vertical-align: top;
	/*height: 200px;*/
	margin: 1em;
}

.header_titre {	float: left; margin : 5px;}
.header_user {	float: right; margin : 5px;}
p.header_user {	color: #BBBBBB;}

h1	{
	text-align: left;
	margin-top: 20px;
	margin-bottom: 40px;
	color: #345;
	text-shadow: 1px 1px 1px #ccc;
	}

h2	{
	color: #000000;
	margin: 0;
	}

@media (max-width: 1200px) {
	.h2{ font-size: 18px }  /* Maximum font size */
	p, td.form { font-size: 14px;	} 
	}

@media (min-width: 700px) {
	.h2{ font-size: 14px } /* Minimum font size */
	p, td.form { font-size: 12px; }
	}


	
	




